<div class="container">
    <div class="row">
      <div class="col-md-8">
          <form #searchForm="ngForm" (keyup)="onSubmit(searchForm)" (ngSubmit)="onSubmit(searchForm)" novalidate>
              <div class="form-row">
                <div class="form-group col-sm-4">
                  <label for="title">Tytuł</label>
                  <input type="text" class="form-control" name="title" id="title" placeholder="Tytuł" ngModel>
                </div>
                <div class="form-group col-sm-4">
                  <label for="dateStart">Data początkowa</label>
                  <input type="text" class="form-control" name="dateStart" id="dateStart" placeholder="DD/MM/YYYY" ngModel>
                </div>
                <div class="form-group col-sm-4">
                    <label for="dateEnd">Data końcowa</label>
                    <input type="text" class="form-control" name="dateEnd" id="dateEnd" placeholder="DD/MM/YYYY" ngModel>
                  </div>
              </div>
              <div class="form-row">
              <div class="form-group col-sm-6">
                <label for="priceStart">Cena początkowa</label>
                <input type="number" class="form-control" name="priceStart" id="priceStart" placeholder="Cena początkowa" ngModel>
              </div>
              <div class="form-group col-sm-6">
                <label for="priceEnd">Cena końcowa</label>
                <input type="number" class="form-control" name="priceEnd" id="priceEnd" placeholder="Cena końcowa" ngModel>
              </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" (change)="onSubmit(searchForm)" name="sale" id="sale" ngModel>
                  <label class="form-check-label" for="sale">
                   Wyprzedaż
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Szukaj</button>
              
            </form>
            <button (click)="onReset()" class="btn btn-danger">Reset</button>

      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
