<div class="container">
  <div class="row" *ngIf="(sortedGames$|async)[0];else noGamesBlock">
    <div class="col-sm">
      <div class="row">
        <div class="col2 col-sm-1">
          ID
        </div>
        <div class="col2 col-sm-2">
          Okładka
        </div>
        <div class="col2 col-sm-3" (click)="onSortTitle()" style="cursor: pointer;">
          Tytuł
          <img class="img-responsive" src="assets/images/sort.png" width="20px">
        </div>
        <div class="col2 col-sm-2" (click)="onSortDate()" style="cursor: pointer;">
          Data wydania
          <img class="img-responsive" src="assets/images/sort.png" width="20px">
        </div>
        <div class="col2 col-sm-2" (click)="onSortPrice()" style="cursor: pointer;">
          Cena
          <img class="img-responsive" src="assets/images/sort.png" width="20px">
        </div>
        <div class="col2 col-sm-2">
          Wyprzedaż
        </div>
      </div>
      <div class="row" *ngFor="let game of sortedGames$ | async" [class.selected]="game === selectedGame$" (click)="onSelect(game)" style="cursor: pointer;">
        <div class="col col-sm-1">
          {{game.id}}
        </div>
        <div class="col col-sm-2">
          <img src={{game.imageURL}} width="100%">
        </div>
        <div class="col col-sm-3">
          {{game.title}}
        </div>
        <div class="col col-sm-2">
          {{game.releaseDate | date:'dd.MM.yyyy'}}
        </div>
        <div class="col col-sm-2">
          {{game.price}} PLN
        </div>
        <div class="col col-sm-2" *ngIf="game.sale==true">
          Tak
        </div>
        <div class="col col-sm-2" *ngIf="game.sale==false">
          Nie
        </div>
      </div>
    </div>


  </div>
  <ng-template #noGamesBlock>
    Brak gier do wyświetlenia.
  </ng-template>
