table {
    width: 100%;
  }

.row{
  padding-top: 10px;
  padding-bottom:10px;
  border-bottom: 5px solid black; 
  

}
.btn{
  margin: 5px;
}

.col{
  margin: auto;
  text-align: center;
}
.col2{
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  margin: auto;
}
