<div class="container" *ngIf="$selectedGame |async as selectedGame">
  <div class="row">
    <div class="col-sm-3">
        <img src="{{selectedGame.imageURL}}" width="100%">
    </div>
    <div class="col-sm-4">
      <div class="row">Tytuł: {{selectedGame.title}}</div>
      <div class="row">Data wydania: {{selectedGame.releaseDate}}</div>
      <div class="row">Cena: {{selectedGame.price}}</div>
      <div class="row" *ngIf="selectedGame.sale==true">Wyprzedaż: Tak</div>
      <div class="row" *ngIf="selectedGame.sale==false">Wyprzedaż: Nie</div>
      <div class="row">Gatunek: {{selectedGame.genre}}</div>
      <div class="row">Platforma: {{selectedGame.platform}}</div>
      <div class="row">Ocena: {{selectedGame.score}}</div>
      <button (click)="onBack()" class="btn btn-danger">Cofnij</button>
    </div>

    <div class="col-sm-4">
      <div class="row">Producent: {{selectedGame.developer}}</div>
      <div class="row">Wydawca: {{selectedGame.publisher}}</div>
      <div class="row">Wymagany wiek: {{selectedGame.requiredAge}}</div>
      <div class="row">Język: {{selectedGame.language}}</div>
      <div class="row" *ngIf="selectedGame.controler==true">Obsługa kontrolera: Tak</div>
      <div class="row" *ngIf="selectedGame.controler==false">Obsługa kontrolera: Nie</div>
      <div class="row" *ngIf="selectedGame.multiplayer==true">Multiplayer: Tak</div>
      <div class="row" *ngIf="selectedGame.multiplayer==false">Multiplayer: Nie</div>
    </div>
    
  </div>
  
</div>
